DATABASE_URL="DATABASE_URL="postgresql://postgres@localhost:5432/uafam_db"
JWT_ACCESS_SECRET="change_me_access_secret_very_long_random_string"
JWT_REFRESH_SECRET="change_me_refresh_secret_very_long_random_string"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"
RP_ID="localhost"
RP_NAME="UAFAM"
ORIGIN="http://localhost:5173"
PORT=3000
NODE_ENV="development"
